<div class="contenedor">
    <nav style="display: flex; justify-content: space-between; align-items: center; background-color: rgba(155, 108, 108, 0.747); width: 100%; height: 10vh;">
        <img src="../../../assets/icons8_hospital.ico" alt="" width="70px">
        <div>
            <button class="btn btn-dark" (click)="SeHizoClik('register')" style="margin: 0 5px; border: none; padding: 5px; border-radius: 10px; cursor: pointer;">Registrarse</button>
            <button class="btn btn-danger" (click)="SeHizoClik('login')" style="margin: 0 5px; border: none; padding: 5px; border-radius: 10px; cursor: pointer;">Cerrar sesion</button>
        </div>
    </nav>
    <main>
        <div style="display:flex; justify-content:center; margin-top: 10%;">
            <button style="border: none; padding: 80px; border-radius: 10px; margin: 5px;">Pacientes</button>
            <button style="border: none; padding: 80px; border-radius: 10px; margin: 5px;">Especialistas</button>
        </div>
    </main>
</div>