<div class="contenedor">
    <nav style="display: flex; justify-content: space-between; align-items: center; background-color: rgba(155, 108, 108, 0.747); width: 100%; height: 10vh;">
        <img src="../../../assets/icons8_hospital.ico" alt="" width="70px">
        <div>
            <button class="btn btn-dark" routerLink="/bienvenido" style="margin: 0 5px; border: none; padding: 5px; border-radius: 10px; cursor: pointer;">Volver</button>
        </div>
    </nav>
    <main>
        <h3 style="text-align: center;">Mis turnos (Especialistas)</h3>
        <div style="display:flex; justify-content:center; margin-top: 10%;">
        </div>
    </main>
</div>